.maincontent {
  background: #fff7f7;
  height: 100vh;
  width: 90vw;
  display: flex;
  position: absolute;
  right: 0;
}

.postbox {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  height: 80vh;
  width: 60vw;
  background-color: #7db4ce;
}

/* .searchfield {
  align-self: center;
  height: 3vh;
  width: 3vw;
} */

.small_post {
  display: flex;
  flex-direction: row;
  color: white;
  border: 1px solid white;
}

.title {
  color: navy;
}
